# Application Variables
PORT=5002
MONGO_URI=
JWT_SECRET=
CLIENT_URL=http://localhost:3000

# AWS S3 Variables
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=

# Google OAuth 2.0 Variables
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:5002/api/auth/google/callback
