# Application Variables
PORT=5002
MONGO_URI=
JWT_SECRET=
CLIENT_URL=http://localhost:3000

# AWS S3 Variables
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=


# OAuth Variables
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
